[Desktop Entry]
Version=1.0
Type=Application

Name=Doudou
Comment=Stream Jellyfin music to everything.
Categories=Utility;Amusement;

Icon=com.example.FlutterApp
Exec=gitlab.openlyst.doudou
Terminal=false
StartupWMClass=gitlab.openlyst.doudou