[Desktop Entry]
Version=1.0
Type=Application

Name=Doudou
Comment=Beautiful music player for your personal Jellyfin media server
GenericName=Music Player
Categories=AudioVideo;Audio;Player;Music;

Icon=gitlab.openlyst.doudou
Exec=gitlab.openlyst.doudou
Terminal=false
StartupWMClass=gitlab.openlyst.doudou
MimeType=audio/mpeg;audio/mp4;audio/x-flac;audio/ogg;